*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #39ff14;
	font-family: monaco, Consolas, Lucida Console, monospace;
	letter-spacing: 1px;
}
/*------------------------------------------------------------------------------------*/
/*navbar*/
.navbar{
	top: 0;
	position: absolute;
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	background: transparent;
	width: 100%;
}
.logo{
	font-size: 25px;
	text-transform: uppercase;
	letter-spacing: 5px;
	text-align: center;
}
.logo:hover{
	-webkit-animation: neon 1.5s ease-in-out infinite alternate;
}
.nav-links{
	display: flex;
	justify-content: space-around;
	width: 40%;
}
.nav-links li{
	list-style: none;
}
.link{
	text-decoration: none;
	letter-spacing: 2px;
}
.link:hover{
	-webkit-animation: neon 1.5s ease-in-out infinite alternate;
}
@-webkit-keyframes neon {
	from{
		text-shadow: 0.3px 0.3px #3afa16, 0.3px 0px #3eff19, 0px 0.3px #3afa16, -0.3px -0.3px #3eff19, -0.3px 0px #3afa16, 0px -0.3px #3eff19;
	}
	to{
		text-shadow: 0.3px 0.3px #3eff19, 0.3px 0px #3afa16, 0px 0.3px #3eff19, -0.3px -0.3px #3afa16, -0.3px 0px #3eff19, 0px -0.3px #3afa16;
	}
}
/*burger menu*/
.burger{ display: none; }
.line1, .line2, .line3 {
  	width: 25px;
	height: 3px;
	background-color: rgb(236, 224, 243);
	margin: 5px;
	transition: .3s;
}
@media screen and (max-width: 1440px){.nav-links{width: 50%;}}
@media screen and (max-width: 1024px){.nav-links{width: 70%;}}
@media screen and (max-width: 768px){
	body{
		overflow-y: hidden;
	}
	.nav-links{
		opacity: 0;
		width: 100%;
		position: absolute;
		right: 0px;
		top: 8vh;
		height: 0vh;
		background: radial-gradient(#151617, #000000);
		display: flex;
		flex-direction: column;
		align-items: center;
		transition: transform 0.4s ease-in;
	}
	.nav-links li{
		opacity: 0;
	}
	.burger{
		display: block;
		cursor: pointer;
	}
	.nav-links-active{
		-webkit-transform: translateY(0%);
		transform: translateY(0%);
		height: 92vh;
		opacity: 1;
	}
	/*burger animacja*/
	.change .line1 {
		-webkit-transform: translate(0px, 8px) rotate(45deg);
    	transform: translate(0px, 8px) rotate(45deg);
	}
	.change .line2 {
		-webkit-transform: translate(-8px, 0px);
    	transform: translate(-8px, 0px);
		opacity: 0;
	}
	.change .line3 {
		-webkit-transform: translate(0px, -8px) rotate(-45deg);
		transform: translate(0px, -8px) rotate(-45deg);
	}
}
/*linki animacja*/
@keyframes linksFade{
	from{
		opacity: 0;
		transform: translateX(50px);
	}
	to{
		opacity: 1;
		transform: translateX(0px);
	}
}
/*------------------------------------------------------------------------------------*/
/*home section*/
.sHome{
	height: 100vh;
	width: 100%;
	overflow: hidden;
	background: radial-gradient(#151617, #000000);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
/*header*/
.sHome h1{
	font-size: 28px;
}
/*type writer*/
.type{
	display: inline-block;
	overflow: hidden;
	text-align: center;
}
.type-text{
	display: inline-block;
  	overflow: hidden;
}
@media screen and (min-width: 1024px){
	.type-text{
		white-space: nowrap;
	    border-right: 4px solid white;
	    box-sizing: border-box;
	    animation: typing 10s steps(79, end), blink .75s step-end infinite;
	}
}
@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 100% 
    }
}
@keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: white; 
    }
}
/*------------------------------------------------------------------------------------*/
