*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #39ff14;
	font-family: monaco, Consolas, Lucida Console, monospace;
	letter-spacing: 2px;
	-webkit-overflow-scrolling: touch;
}
html{
	position: relative;
	scroll-behavior: smooth;
}
/*------------------------------------------------------------------------------------*/
/*navbar*/
.navbar{
	top: 0;
	position: absolute;
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 7vh;
	background: transparent;
	width: 90%;
}
.logo{
	text-align: center;
	font-size: 1.3em;
	text-transform: uppercase;
	letter-spacing: 5px;
}
@media screen and (max-width: 1024px){
	.logo{
		font-size: 1.1em;
		letter-spacing: 4px;
	}
}
@media screen and (max-width: 768px){
	.logo{
		font-size: 0.9em;
		letter-spacing: 3px;
	}
}
@media (hover: hover){
	.logo:hover{
		-webkit-animation: neon 1.5s ease-in-out infinite alternate;
	}
}
.nav-links{
	display: flex;
	justify-content: space-around;
	width: 40%;
}
.nav-links li{
	list-style: none;
}
.link{
	font-size: 1em;
	text-decoration: none;
	letter-spacing: 2px;
	cursor: pointer;
}
@media screen and (max-width: 1024px){
	.link{
		font-size: 0.9em;
		letter-spacing: 1.5px;
	}
}
@media (hover: hover){
	.link:hover{
		-webkit-animation: neon 1.5s ease-in-out infinite alternate;
	}
}
@-webkit-keyframes neon {
	from{
		text-shadow: 0.3px 0.3px #3afa16, 0.3px 0px #3eff19, 0px 0.3px #3afa16, -0.3px -0.3px #3eff19, -0.3px 0px #3afa16, 0px -0.3px #3eff19;
	}
	to{
		text-shadow: 0.3px 0.3px #3eff19, 0.3px 0px #3afa16, 0px 0.3px #3eff19, -0.3px -0.3px #3afa16, -0.3px 0px #3eff19, 0px -0.3px #3afa16;
	}
}
/*burger menu*/
.burger{ display: none; }
.line1, .line2, .line3 {
  	width: 25px;
	height: 3px;
	background-color: rgb(236, 224, 243);
	margin: 5px;
	transition: .3s;
}
@media screen and (max-width: 1440px){.nav-links{width: 50%;}}
@media screen and (max-width: 1024px){.nav-links{width: 70%;}}
@media screen and (max-width: 768px){
	.navbar{ width: 100%; }
	body{
		overflow-x: hidden;
	}
	.nav-links{
		width: 100%;
		height: 0vh;
		opacity: 0;
		position: absolute;
		right: 0px;
		top: 7vh;
		background: radial-gradient(#151617, #000000);
		display: flex;
		flex-direction: column;
		align-items: center;
		transition: 0.5s;
	}
	.nav-links li{
		opacity: 0;
	}
	.burger{
		display: block;
		cursor: pointer;
	}
	.nav-links-active{
		height: 92vh;
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
		opacity: 1;
	}
	/*burger animacja*/
	.change .line1 {
		-webkit-transform: translate(0px, 8px) rotate(45deg);
    	transform: translate(0px, 8px) rotate(45deg);
	}
	.change .line2 {
		-webkit-transform: translate(-8px, 0px);
    	transform: translate(-8px, 0px);
		opacity: 0;
	}
	.change .line3 {
		-webkit-transform: translate(0px, -8px) rotate(-45deg);
		transform: translate(0px, -8px) rotate(-45deg);
	}
}
/*linki animacja*/
@keyframes linksFade{
	from{
		opacity: 0;
		transform: translateX(50px);
	}
	to{
		opacity: 1;
		transform: translateX(0px);
	}
}
/*------------------------------------------------------------------------------------*/
section{
	background: radial-gradient(#151617, #000000);
}
/*home section*/
#sHome{
	height: 100vh;
	width: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
/*header*/
#sHome h1{
	font-size: 1.8em;
}
/*type writer*/
.type{
	display: inline-block;
	overflow: hidden;
	text-align: center;
}
.type-text{
	display: inline-block;
  	overflow: hidden;
}
@media screen and (min-width: 1024px){
	.type-text{
		letter-spacing: 1px;
		white-space: nowrap;
	    border-right: 4px solid white;
	    box-sizing: border-box;
	    animation: typing 10s steps(79, end), blink .75s step-end infinite;
	}
}
@media screen and (max-width: 768px){
	.type{
		width: 90%;
	}
	.type-text{
		font-size: 0.9em;
	}
}
@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 100% 
    }
}
@keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: white; 
    }
}
/*------------------------------------------------------------------------------------*/
/*about section*/
#sAbout{
	height: 100vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
#sAbout p{
	width: 70%;
	margin: auto auto 0 auto;
	font-size: 1.3em;
}
@media screen and (max-width: 1024px){
	#sAbout p{
		font-size: 1.1em;
	}
}
@media screen and (max-width: 768px){
	#sAbout p{
		font-size: 0.9em;
	}
}
.photo-container{
	margin: auto;
	width: 70%;
	/*border: 2px solid white;*/
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.photo-container div{
	width: 20vw;
	height: 50vh;
	/*border: 1px solid #39ff14;*/
}
/*------------------------------------------------------------------------------------*/
/*sProjects*/
#sProjects{
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: column;
}
#projects h1{
	font-size: 40px;
	margin: 0 0 30px 0;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.container{
	transform: translateY(50px);
	display: flex;
	align-items: center stretch;
}
@media screen and (min-width: 1024px){
	.container{
		max-width: 1100px;
		margin: 0 auto;
		padding: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		background: #000;
	}
	.card{
		background: linear-gradient(rgb(0, 0, 0), rgb(40, 30, 30));
		height: 400px;
		width: 300px;
		margin: 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		box-shadow: -1rem 0 3rem #000;
		transition: .2s;
	}
	.card p{
		padding: 0px 10px 0px 10px;
	}
	.card:not(:first-child){
		margin-left: -150px;
	}
	.card:hover{
		transform: translateY(-50px);
	}
	.card:hover ~ .card{
		transform: translateX(150px);
	}
}
@media screen and (max-width: 1024px){
	.card{
		position: relative;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		flex: 1;
		margin: 20px;
		padding: 20px;
		border: 2px solid #000000;
		border-radius: 4px;
		transition: all .3s ease;
	}
}
.card > *{
	flex: 1 1 10;
}
.card h2{
	font-size: 30px;
	margin: 16px 0;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.card p{
	font-size: 17px;
}
.card a{
	margin: 22px 0;
	text-decoration: none;
	color: white;
	background: black;
	border: 1px solid black;
	text-transform: uppercase;
	padding: 15px;
	border-radius: 25px;
	transition: .3s ease;
}
.card a:hover{
	border-radius: 4px;
}
@media screen and (max-width: 900px){
	.container{
		flex-direction: column;
	}
}
.card:hover{
	background: #000000;
	color: white;
}
.card:hover > a{
	color: black;
	background: white;
	border-color: white;
}

/*------------------------------------------------------------------------------------*/
/*sContact*/
#sContact{
	height: 70vh;
}
#sContact .container{
	margin: auto;
	display: flex;
	flex-direction: column;
	width: 70%;
	align-items: center;
}
#sContact .container .heading{
	width: 100%;
	margin-bottom: 15px;
}
#sContact .container .heading h1{
	font-size: 2em;
	letter-spacing: 2px;
}
@media screen and (max-height: 640px){
	#sContact .container .heading h1{
		font-size: 1.0em;
	}
}
#sContact .container .heading h6{
	font-size: .9em;
	letter-spacing: 2px;
	margin: 0 0 10px 0;
}
@media screen and (max-width: 1024px){
	#sContact .container .heading h1{
		font-size: 1.6em;
		letter-spacing: 2px;
	}
	#sContact .container .heading h6{
		font-size: .8em;
	}
}
@media screen and (max-width: 768px){
	#sContact .container .heading h1{
		font-size: 1.3em;
		letter-spacing: 1px;
	}
	#sContact .container .heading h6{
		font-size: .8em;
		letter-spacing: 2px;
	}
}
form{
	display: flex;
	flex-direction: column;
	width: 100%;
}
.name, .email, .message{
	margin: 10px;
	background: none;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
    border-image-source: linear-gradient(to left, rgba(0, 0, 0, 0), #39ff14); 
    border-image-repeat: none;
    border-image-slice: 5;
    outline: transparent;
}
.message{
	height: 200px;
}
input[type = submit]{
	margin: 0 auto;
	width: 200px;
	background: none;
	border: 1px solid #39ff14;
}
@media (hover: hover){
	input[type = submit]:hover{
		-webkit-animation: neonborder 1.5s linear infinite alternate;
		-webkit-animation: neon 1.5s linear infinite alternate;
	}
}
@media screen and (max-width: 1024px){
	#sContact label{
		font-size: 1.1em;
	}
	.message{
		height: 180px;
	}
	input[type = submit]{
		width: 100px;
	}
}
@media screen and (max-width: 768px){
	#sContact label{
		font-size: 0.9em;
	}
	.name, .email, .message{
		margin: 7px;
	}
	.message{
		height: 130px;
	}
	input[type = submit]{
		width: 80px;
	}
}
@media screen and (max-height: 640px){
	#sContact{
		height: max(70vh, 60vw);
	}
	.message{
		height: 90px;
	}
}
/*------------------------------------------------------------------------------------*/
/*top button*/
.topButton{
	display: flex;
	position: absolute;
	justify-content: center;
	align-items: center;
	bottom: 10px;
	right: 20px;
	height: 40px;
	width: 40px;
	font-size: 30px;
	color: #39ff14;
	background: black;
	border: 2px solid #39ff14;
	border-radius: 50%;
	transition: .2s;
	cursor: pointer;
}
@media (hover: hover){
	.topButton:hover{
		-webkit-animation: neonborder 1.5s linear infinite alternate;
	}
}
@media screen and (max-width: 1024px){
	.topButton{
		height: 30px;
		width: 30px;
		font-size: 20px;
	}
}
@-webkit-keyframes neonborder{
	from{
		box-shadow: 0.3px 0.3px #3afa16, 0.3px 0px #3eff19, 0px 0.3px #3afa16, -0.3px -0.3px #3eff19, -0.3px 0px #3afa16, 0px -0.3px #3eff19;
	}
	to{
		box-shadow: 0.3px 0.3px #3eff19, 0.3px 0px #3afa16, 0px 0.3px #3eff19, -0.3px -0.3px #3afa16, -0.3px 0px #3eff19, 0px -0.3px #3afa16;
	}
}
/*------------------------------------------------------------------------------------*/
/*footbar*/
.footbar{ 
	position: absolute;
	width:100%; 
	height: 6vh;
	align-items: center;
	display: flex;
	justify-content: space-around;
	background: radial-gradient(#2e2c2c, #151617);
	font-size: 1em;
}
@media screen and (max-width: 1024px){
	.footbar{
		font-size: 0.9em;
	}
}
@media screen and (max-width: 768px){
	.footbar{
		font-size: 0.8em;
	}
}
@media screen and (max-width: 640px){
	.footbar{
		font-size: 0.6em;
	}
}
.footbar div a{
	text-decoration: none;
}
.footbar div a:hover{
	-webkit-animation: neon 1.5s ease-in-out infinite alternate;
}
/*------------------------------------------------------------------------------------*/
